:root{
  --color-1: #000000;
  --color-2: #1d9bf0;
  --color-3: #ffffff;
  --color-border:#504d4d;
  --color-grey: rgb(92, 80, 80)
}

html{
  background-color: var(--color-1);
  font-family: Arial, Helvetica;
  color: var(--color-3)
}

*{
  border: 0;
  padding: 0;
  border : 0;
  margin: 0;
}

.svg-container{
  width: 100%;
}

.svg-container img{
  width: 100%;
  object-fit: contain;
}

.hover-click:hover{
  cursor: pointer;
}

.profile-picture-container {
  display: flex;
  align-items: start;
  justify-items: center;
}

.profile-picture-container img {
  object-fit: contain;
  width: 100%;
  border-radius: 50%;
}
