
.trend-container h1 {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
  }
  
  .trend-list {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  
  .trend-list h4 {
    font-weight: 400;
    font-size: small;
    color: var(--color-gray-text);
  }
  
  .trend-list h3 {
    font-weight: 600;
    font-size: medium;
  }
  
  .trend-list p {
    font-weight: 400;
    font-size: small;
    color: var(--color-gray-text);
  }
  