.home-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main-container {
  display: flex;
  width: 75%;
}

.timeline-container {
  width: 60%;
}

.explore-container {
  width: 40%;
}

.main-container{
  display: flex;
  flex-direction: column;
}
