.navbar-container {
  height: 100vh;
  border: 0.1px solid var(--color-gray);
  padding-left: 2.5rem;
  padding-top: 0.1rem;
  width: 20%;
  min-width: 14rem;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.navbar-menu-container {
  height: 3.1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: var(--color-3);
  font-size: 0.9rem;
  font-weight: normal;
  align-items: center;
  gap: 0.1rem;
}

.navbar-menu-container:hover {
  cursor: pointer;
}

.post-button {
  height: 3.3rem;
  width: 80%;
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: var(--color-2);
  color: white;
  font-weight: bold;
  font-size: large;
  border-radius: 2rem;
}

.navbar-profile-container {
  position: absolute;
  bottom: 1.5rem;
  display: flex;
  height: 2.4rem;
  align-items: center;
  font-weight: 400;
  font-size: 0.68rem;
  gap: 1rem;
  margin-left: 1rem;
}

.navbar-profile-other-container {
  height: 100%;
}

.navbar-profile-other-container img {
  height: 100%;
  object-fit: contain;
  scale: 0.6;
}

.navbar-profile-text-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-weight: 300;
  /* font-size: larger; */
}

.navbar-profile-tag {
  color: var(--color-grey);
}
